.sidebar {
    background-color: #2a2f33;
    color: #CBD5E0;
    width: 16rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-item {
    display: block;
    padding: 0.625rem 1rem;
    transition: background-color 0.2s;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nav-item:hover {
    background-color:#2a2f33;
}

.nav-item.active {
    background-color: #4299E1;
}

.main-content {
    flex: 1;
    padding: 2.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.btn {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.25rem 1rem;
    border-radius: 0.375rem;
}

.article {
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%; 
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    
}

.text-content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.text-content p {
    margin: 0;
}

.text-content a {
    display: inline-block;
    margin-top: 0.5rem;
}

.related-news {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 300px;
    position: relative;
    margin-top: 20px;
}

.right-sidebar {
    width: 16rem;
    padding: 1rem;
    border-radius: 0px;
}

.ranking-item {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border: 0px !important;
}

.ranking-item img {
    width: 100%;
    display: block;
}

.ranking-item div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.ranking-item p {
    margin: 0;
}


.footer {
    background-color: #f6f9ff;
    color: #6b6b6b;
    padding: 1rem;
    margin-top: 2rem;
}

.footer a {
    color: #63B3ED;
}

.container1 {
    display: flex;
    height: 500px;
}

.red, .side2 {
    position: relative;
}

.red {
    flex: 6; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.side {
    flex: 3; 
    display: flex;
    flex-direction: column;
}

.side2 {
    flex: 1;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    background: linear-gradient(to bottom, rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.9));
    padding: 5px; 
    border-radius: 5px; 
    z-index: 1;

}

.caption {
    color: white;
    font-size: 1rem; 
    margin: 0; 
}

.mr0 {
    text-align: right !important
}
.sp{
    padding: 10px !important;
}

.erln{
    position: absolute; 
    top: 0; 
    right: 0; 
    font-size: 1rem; 
    color: #fefefe; 
    background: #236cff; 
    padding: 0.5rem; 
    border: 0px !important;
}

.nbg{
    background: linear-gradient(to bottom, rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.9)) !important;
}